

<div class="container">

  <%= render "public/tags/tag", tags: @tags %>
  <%= link_to 'New Post', new_community_post_path(@community), class: "btn btn-primary mb-3" %>
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>投稿</th>
        <th>グループ名</th>
        <th>紹介文</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @community.posts.each do |post| %>
        <tr>
          <td><%= render '/public/favorites/btn', post: post %></td>
          <td><%= link_to post.title, community_post_path(@community, post) %></td>
          <td><%= post.body %></td>
          <% if post.user == current_user %>
            <td><%= link_to 'Edit', edit_community_post_path(@community, post), class: "post_#{post.id} btn btn-sm btn-success" %>
            <td><%= link_to "削除", community_post_path(@community, post), method: :delete, "data-confirm" => "削除しますか?", class: "btn btn-danger" %></td>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>