<div class="container">
<%= @post.title %>
<%= @post.body %>

<% @post.comments.each do |comment| %>
  <div class="col-3 text-center">
    <div class="small mb-4"><%= comment.user.last_name%></div>
    <div class="small mb-4"><%= comment.body %></div>
    <% if comment.score.present? && comment.score < 0.5 %> <%#この数値は後検討%>
        <p class="translatable-text mt-2"><small class="text-secondary">※非常にネガティブなコメントです。トラブル回避のため、不要な場合は削除することを推奨します※</small></p>
    <% end %>
  </div>
  <%= link_to "削除", admin_post_comment_path(@post, comment), method: :delete, remote: true, "data-confirm" => "削除しますか?", class: "btn-sm btn-danger" %>
<% end %>

