<%= form_with model: notification, url: '/notifications', local: true do |f| %>

  <div class="form-group">
    <%= f.label :届け出名 %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :内容 %>
    <%= f.text_area :introduction, class: 'form-control' %>
  </div>



  <div class="form-group">
    <%= f.submit class: 'btn btn-info' %>
  </div>
<% end %>