<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h4 class="my-5">マイページ</h4>
      <%=link_to "グループを作成する",new_community_path %> |
      <%=link_to "グループ一覧",communities_path %> |
      <%= link_to "いいねした投稿", user_favorites_path(@user) %>
        <div class="d-flex align-items-center">
          <h3><b>登録情報</b></h3>
          <%= link_to "編集する", users_information_edit_path, class:"btn btn-outline-danger ml-3 my-3" %>
        </div>
          <table class="table table-bordered">
            <tr>
              <td>学籍番号</td>
              <td><%= @user.student_id.nil? ? "" : @user.student_id %></td>
            </tr>
            <tr>
              <td>名前（性）</td>
              <td><%= @user.last_name %></td>
            </tr>

            <tr>
              <td>名前（名）</td>
              <td><%= @user.first_name %></td>
            </tr>

            <tr>
              <td>フリガナ（セイ）</td>
              <td><%= @user.last_name_kana %></td>
            </tr>

            <tr>
              <td>フリガナ（メイ）</td>
              <td><%= @user.first_name_kana %></td>
            </tr>

            <tr>
              <td>郵便番号</td>
              <td><%= @user.postal_code %></td>
            </tr>

            <tr>
              <td>住所</td>
              <td><%= @user.address %></td>
            </tr>

            <tr>
              <td>電話番号</td>
              <td><%= @user.phone_number %></td>
            </tr>

            <tr>
              <td>メールアドレス</td>
              <td><%= @user.email %></td>
            </tr>
          </table>
    </div>
  </div>
</div>