<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container p-3">
        <!--ロゴ-->
        <%= link_to root_path, class: 'brand-logo' do %>
          <%= image_tag 'logo.png', size:"100x100" %>

            <% if user_signed_in? %>
              <li class="list-unstyled">
                <%= link_to notices_path, class: "nav-link" do %>
                   <% if current_user && current_user.notices.where(checked: false).exists? %>
                      <i class="fa-sharp fa-solid fa-bell fa-beat" style="color: #f2ee7d;"></i>
                   <% else %>
                      <i class="fa-sharp fa-solid fa-bell"></i>
                   <% end %>
                  <script src="https://kit.fontawesome.com/41c13e50fc.js" crossorigin="anonymous"></script>
                  通知一覧
                <% end %>
              </li>
            <% end %>
        <% end %>

        <!--customerログイン時、ようこそ○○さん！-->
        <% if user_signed_in? %>
          <div class="log-in-message">ようこそ、<%= current_user.last_name %>さん！</div>
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa-solid fa-chevron-down"></i></span>
        </button>

      <div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <!--寮生ログイン時-->
              <li>
                <%= link_to users_mypage_path, class: 'nav-link text-dark' do %>
                 マイページ
                <% end %>
              </li>

              <li>
                <%= link_to communities_path, class: 'nav-link text-dark' do %>
                  コミュニティ
                <% end %>
                </li>

              <li>
                <%= link_to new_notification_path, class: 'nav-link text-dark' do %>
                  届け出
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  ログアウト
                <% end %>
              </li>

            <% elsif admin_signed_in? %>
            <!--adminログイン時-->
              <li>
                <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
                  寮生一覧
                <% end %>
              </li>

              <li>
                <%= link_to admin_notifications_path, class: 'nav-link text-dark' do %>
                  届け出一覧
                <% end %>
              </li>

              <li>
                <%= link_to admin_tags_path, class: 'nav-link text-dark' do %>
                  タグ作成
                <% end %>
              </li>

              <li>
                <%= link_to admin_posts_path, class: 'nav-link text-dark' do %>
                  コメント管理
                <% end %>
              </li>

              <li>
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  ログアウト
                <% end %>
              </li>

            <% else %>
            <!--未ログイン時-->
              <li>
                <%= link_to about_path, class: 'nav-link text-dark' do %>
                  About
                <% end %>
              </li>

              <li>
                <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                  Sign up
                <% end %>
              </li>

              <li>
                <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                  Log in
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
         <%= render 'layouts/search' %>
      </div>
      </div>
    </nav>
</header>